extends layout

block content
    section#main
        h1 
            span #
            | vid
            span .io
        p.tagline watch the work live

        ul#hashtags
            li
                a(href='#') #angelhack
            li
                a(href='#') #sandy
            li
                a(href='#') #syria
            li
                a(href='#') #ump

        form#form
            input#keyword(name='keyword', placeholder='type any #hastag or keyword...', autocomplete='off')

        div#results

        div#loading

    script#videosTemplate(type='text/html')
        |  <ul id="video-list">
        |  <% _.each(videos, function(video) { console.log(video); %>
        |  <li class="video">
        |      <div class="video-cell">
        |          <div class="video-wrapper">
        |              <img title="<%= video.title %>" src="<%= video.thumbnail %>">
        |              <span class="overlay"></span>
        |          </div>
        |          <div class="video-meta">
        |              <h5 title="<%= video.title %>"><%= video.title %></h5>
        |              <ul>
        |                  <li class="by">by <a href="#">Somebody</a></li>
        |                  <li class="date"><time datetime="<%= video.msg.post_date %>"><%= video.msg.post_date %></time> from <a class="from" href="<%= video.url %>"><%= video.msg.username %></a></li>
        |              </li>
        |          </div>
        |      </div>
        |  </li>
        |  <% }) %>
        |  </ul>