extends layout

block content
    iframe#player
        
    div#clickjack

    section#main.animated
        h1 
            span #
            | hvid
            span .io
        p.tagline watch our World live

        ul#hashtags
            li
                a(href='#') #angelhack
            li
                a(href='#') #sandy
            li
                a(href='#') #syria
            li
                a(href='#') #ump

        form#form(onsubmit="return false")
            input#keyword(name='keyword', placeholder='enter any #hashtag or keyword...', autocomplete='off')

        div#results

        div#loading

    script#videosTemplate(type='text/template')
        |  <ul id="video-list">
        |  <% console.log(videos); _.each(videos, function(video) { console.log(videos); %>
        |  <% include videoTemplate %>
        |  <% }) %>
        |  </ul>
        |  <div id="top"></div>
        |  <div id="bottom"></div>

    script#videoTemplate(type='text/template')
        |  <li class="video" id="<%= video.id %>">
        |      <div class="video-cell">
        |          <div class="video-wrapper">
        |              <img title="<%= video.title %>" src="<%= video.thumbnail %>">
        |              <a class="play" href="<%= video.embed %>"></a>
        |              <span class="tip"><%= video.score %></span>
        |          </div>
        |          <div class="video-meta">
        |              <h5 title="<%= video.title %>"><%= video.title || 'Unknown title' %></h5>
        |              <ul>
        |                  <li class="date">
        |                       <time datetime="<%= video.msgs[0].post_date %>"><%= video.msgs[0].post_date %></time>
        |                       <br> 
        |                       from <a class="from" href="<%= video.url %>"><%= video.provider %></a>
        |                   </li>
        |              </li>
        |          </div>
        |      </div>
        |  </li>
