extends layout

block content
    iframe#player
        
    div#clickjack

    section#main.animated
        header#header
            h1 
                span #h
                | vid
                span .io
            p.tagline World Wide Watch - Watch our World live

            form#form(onsubmit="return false")
                input#keyword(name='keyword', placeholder='any hashtag or keyword...', autocomplete='off')

        div#results

        div#loading

        div#close

    script#videosTemplate(type='text/template')
        |  <ul id="video-list-<%= search %>" class="video-list">
        |  <% _.each(videos, function(video) { %>
        |  <% include videoTemplate %>
        |  <% }) %>
        |  </ul>

    script#messageTemplate(type='text/template')
        |  <li class="<%= msg.provider %>" title="<%= msg.name %>">
        |       <img class="avatar" src="<%= msg.avatar_url %>"><a class="logo" href="#"></a>
        |  </li>

    script#videoTemplate(type='text/template')
        |  <li class="video" id="<%= video.id %>">
        |      <div class="video-cell">
        |          <div class="video-wrapper">
        |              <img class="preview" title="<%= video.title %>" src="<%= video.thumbnail %>">
        |              <a class="play" href="<%= video.embed %>"></a>
        |              <span class="tip <% if (video.msgs.length > 1 ) { %>incremented animated bounce<% } %>"><%= video.msgs.length %></span>
        |          </div>
        |          <div class="video-meta">
        |              <h5 title="<%= video.title %>"><%= video.title || 'Unknown title' %></h5>
        |              <ul>
        |                  <li>
        |                       <time datetime="<%= video.msgs[0].post_date %>"><%= video.date %></time>
        |                       <br> 
        |                       from <a class="from" href="<%= video.url %>"><%= video.msgs[0].provider %></a>
        |                   </li>
        |              </li>
        |          </div>
        |          <div class="video-people">
        |              <ul>
        |                  <% _.each(video.msgs, function(msg) { %>
        |                   <li class="<%= msg.provider %>" title="<%= msg.name %>">
        |                        <img class="avatar" src="<%= msg.avatar_url %>"><a class="logo" href="#"></a>
        |                   </li>
        |                  <% }) %>
        |              </li>
        |          </div>
        |      </div>
        |  </li>
