doctype 5
html
    head
        title #hvid.io - World Wide Watch - Living World search as TV Channel
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='icon', type='image/png', href='/images/favicon.png')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/animated.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mcustomscrollbar.min.css')
    body
        block content


        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/eventemitter2.js')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery.timeago.min.js')
        script(src='/javascripts/jquery.mousewheel.min.js')
        script(src='/javascripts/jquery.ui.min.js')
        script(src='/javascripts/jquery.mcustomscrollbar.min.js')
        script(src='/javascripts/underscore.min.js')
        script(src='/javascripts/canvasloader.min.js')
        //script(src='/javascripts/live-search.js')
        script(src='/javascripts/coffee-script.min.js')
        script(src='/javascripts/video_player.coffee',type="text/coffeescript")
        script(src='/javascripts/live-search.coffee',type="text/coffeescript")
        script(src='/javascripts/hvidio.coffee',type="text/coffeescript")
