doctype 5
html
    head
        title #vid.io - watch the work live
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block content

        script(src='/javascripts/jquery.js')
        script(src='/javascripts/jquery.timeago.js')
        script(src='/javascripts/underscore.js')
        script(src='/javascripts/canvasloader.js')
        script(src='/javascripts/hvidio.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/live-search.js')
        script(src='/javascripts/iscroll.js')