extends layout-simple

block content

    section#no
        header#header
            h1 
                span #h
                | vid
                span .io
            p.tagline World Wide Watch - Watch our World live

        h2 You shall not pass!
        p 
            a(href="https://www.google.com/intl/fr/chrome/browser/") We're gonna need a better browser.