extends layout

block content
    section#main
        h1 
            span #
            | vid
            span .io
        p.tagline watch the work live

        form#form
            input#keyword(name="keyword", placeholder="type any hastag or keyword...")
