extends layout

block content
    section#main
        h1 
            span #
            | vid
            span .io
        p.tagline watch the work live

        ul#hashtags
            li
                a(href='#') #angelhack
            li
                a(href='#') #sandy
            li
                a(href='#') #syria
            li
                a(href='#') #ump

        form#form
            input#keyword(name='keyword', placeholder='type any #hastag or keyword...', autocomplete='off')

        div#results

        div#loading