doctype 5
html
    head
        title #vid.io - watch the work live
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/underscore.js');
        script(src='/javascripts/jquery.js');
        script(src='/javascripts/hvidio.js');

    body
        block content