doctype 5
html
    head
        title hvid.io - watch the work live
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery.js');
    body
        block content