* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #000000 url(/images/background.jpg);
  background-size: cover;
  color: white;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #99cc32;
}
a:hover {
  color: #c2e183;
}
h1 {
  font: italic 100 80px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 5px 5px black;
}
h1 span {
  color: #99cc32;
}
.large h1 {
  font-size: 65px;
}
p.tagline {
  font: italic 16px Georgia, Times, serif;
  margin-bottom: 20px;
  color: #DDD;
}
.large p.tagline {
  font-size: 13px;
}
#player {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#clickjack {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 1;
}
#main {
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px #99cc32;
  height: 220px;
  left: 50%;
  margin-left: -365px;
  margin-top: -150px;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 50%;
  width: 650px;
  z-index: 100;
}
#main.large {
  left: 0;
  top: 0;
  margin: 0;
  width: 99%;
  height: 99%;
  margin: 0 0 0 0;
  box-shadow: 0;
  padding: 0.5%;
  border-radius: 0;
}
#keyword {
  background: rgba(0, 0, 0, 0.4) url(/images/search.png) no-repeat 2% center;
  background-size: 24px;
  box-shadow: inset 0 5px 2px black;
  border: 2px solid rgba(153, 204, 50, 0.30000000000000004);
  border-radius: 5px;
  color: white;
  font: 200 200% "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 50px;
  text-align: center;
  width: 70%;
}
.large #keyword {
  font: 400 130% "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 400px;
  background-size: 20px;
}
#keyword:focus {
  outline: none;
  font-weight: 200;
  border: 2px solid #99cc32;
}
#loading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
}
#counter {
  color: #5c7a1e;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  left: 40px;
}
#close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.4;
  background: transparent url(/images/close.png) no-repeat center center;
  background-size: 32px;
  display: none;
  cursor: pointer;
}
#results {
  height: 0;
  position: relative;
  margin-top: 20px;
}
.large #results {
  border-top: 2px solid black;
}
#results .video-list {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  list-style: none;
}
#results .video {
  float: left;
  margin: 10px 10px;
  min-height: 200px;
  width: 230px;
  position: relative;
}
#results .video.current {
  visibility: visible;
}
#results .video.current .play {
  background: none;
}
#results .video.current img.preview {
  border: 1px solid #99cc32 !important;
  box-shadow: 0px 5px 30px #99cc32 !important;
}
#results .video .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: transparent url(/images/play.png) no-repeat center center;
  background-size: 40px;
}
#results .video .video-cell {
  text-align: center;
}
#results .video .video-cell .video-wrapper {
  display: block;
  position: relative;
  height: 140px;
}
#results .video .video-cell .tip {
  background: #99cc32;
  color: white;
  display: block;
  border: 2px solid #676767;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 3px;
  min-width: 16px;
  border-radius: 10px;
  text-shadow: 0 2px 1px black;
  box-shadow: 0 5px 5px black;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #666666));
}
#results .video .video-cell .tip.incremented {
  box-shadow: 0 5px 5px black;
  border: 1px solid #99cc32;
  text-shadow: 0 1px 0 #99cc32;
  color: black;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5c7a1e), color-stop(1, #99cc32));
}
#results .video .video-cell .video-meta {
  font: bold 11px/1.8 Arial;
  color: #FFF;
  text-shadow: 0px 1px 1px black;
  margin-top: 10px;
}
#results .video .video-cell .video-meta h5 {
  font-weight: bold;
  font-size: 13px;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results .video .video-cell .video-meta ul {
  list-style: none;
  overflow: hidden;
}
#results .video .video-cell .video-meta ul li {
  text-align: center;
}
#results .video .video-cell .video-meta .date {
  font-size: 10px;
}
#results .video .video-cell img.preview {
  visibility: hidden;
  width: 210px;
  height: 135px;
  border: 1px solid gray;
  box-shadow: 0px 5px 30px black;
}
#no {
  background: #111;
  background-image: none;
  width: 80%;
  height: 80%;
  padding: 10%;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  font: italic 16px/2 Georgia, Times, serif;
}
#no h2 {
  font-weight: normal;
}
#no #header {
  margin-bottom: 40px;
}
