@win-width: 650px;
@win-height: 220px;
@win-padding: 20px;

@color-main: #99CC32; // #DD6E02; // #77B1B5; // #99CC32;

@cell-height: 200px;

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: black url(/images/background.jpg);
    background-size: cover;
    color: white;
    font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: @color-main;
}

a:hover {
    color: lighten(@color-main, 20);
}

h1 {
    font: italic 100 80px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 5px 5px black;

    span {
        color: @color-main;
    }

    .large & {
        font-size: 65px;
    }
}

p.tagline {
    font: italic 16px Georgia, Times, serif;
    margin-bottom: 20px;
    color: #DDD;

    .large & {
        font-size: 13px;
    }
}

#player {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#clickjack {
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 1;
}

#main {
    -webkit-backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 10px @color-main;
    height: @win-height;
    left: 50%;
    margin-left: -((@win-width/2) + (@win-padding * 2));
    margin-top: -((@win-height/2) + (@win-padding * 2));
    overflow: hidden;
    padding: @win-padding;
    position: fixed;
    top: 50%;
    width: @win-width;
    z-index: 100;
    
    &.large {
        left: 0;
        top: 0;
        margin: 0;
        width: 99%;
        height: 99%;
        margin: 0 0 0 0;
        box-shadow: 0;
        padding: 0.5%;
        border-radius: 0;
    }
}

#keyword {
    background:  rgba(0, 0, 0, 0.4) url(/images/search.png) no-repeat 2% center;
    background-size: 24px;
    box-shadow: inset 0 5px 2px black;
    border: 2px solid fadeout(@color-main, 70);
    border-radius: 5px;
    color: white;
    font: 200 200% "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 50px;
    text-align: center;
    width: 70%;    

    .large & {
        font: 400 130% "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 400px;
        background-size: 20px;
    }

    &:focus {
        outline: none;
        font-weight: 200;
        border: 2px solid @color-main;
    }
}

#loading {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
}

#counter {
    color: darken(@color-main, 20);
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    position: absolute;
    left: 40px;
}

#close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    background: transparent url(/images/close.png) no-repeat center center;
    background-size: 32px;
    display: none;
    cursor: pointer;
}

#results {
    height: 0;
    position: relative;
    margin-top: 20px;

    .large & {
        border-top: 2px solid black;
    }

    .video-list {
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        list-style: none;
    }

    .video {
        float: left;
        margin: 10px 10px;
        min-height: @cell-height;
        width: 230px;
        position: relative;
        
        &.current {
            visibility: visible;
            
            .play {
                background: none;
            }

            img.preview {
                border: 1px solid @color-main !important;
                box-shadow: 0px 5px 30px @color-main !important;
            }
        }

       .play {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background: transparent url(/images/play.png) no-repeat center center;
            background-size: 40px;
        }

        .video-cell {
            text-align: center;

            .video-wrapper {
                display: block;
                position: relative;
                height: 140px;
            }

            .tip {
                background: @color-main;
                color: white;
                display: block;
                border: 2px solid darken(gray, 10);
                font-size: 11px;
                font-weight: bold;
                position: absolute;
                top: -8px;
                right: -8px;
                padding: 3px;
                min-width: 16px;
                border-radius: 10px;
                text-shadow: 0 2px 1px black;
                box-shadow: 0 5px 5px black;
                background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0, black),
                    color-stop(1, lighten(black, 40))
                );

                &.incremented {
                    box-shadow: 0 5px 5px black;
                    border: 1px solid @color-main;
                    text-shadow: 0 1px 0 @color-main;
                    color: black;
                    background-image: -webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0, darken(@color-main, 20)),
                        color-stop(1, @color-main)
                    );
                }
            }

            .video-meta {
                font: bold 11px/1.8 Arial;
                color: #FFF;
                text-shadow: 0px 1px 1px black;
                margin-top: 10px;

                h5 {
                    font-weight: bold;
                    font-size: 13px;
                    margin-top: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                ul {
                    list-style: none;
                    overflow: hidden;

                    li {
                        text-align: center;

                    }
                }

                .date {
                    font-size: 10px;
                }
            }

            img.preview {
                visibility: hidden;
                width: 210px;
                height: 135px;
                border: 1px solid gray;
                box-shadow: 0px 5px 30px black;
            }
        }
    }
}

#no {
    background: #111;
    background-image: none;
    width: 80%;
    height: 80%;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
    font: italic 16px/2 Georgia, Times, serif;

    h2 {
        font-weight: normal;
    }

    #header {
        margin-bottom: 40px;
    }
}
