* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  background: #000000 url(/images/background.jpg);
  background-size: cover;
  color: white;
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #99cc32;
}
a:hover {
  color: #c2e183;
}
h1 {
  font: italic 100 80px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 span {
  color: #99cc32;
}
.large h1 {
  font-size: 60px;
  font-weight: 100;
}
p.tagline {
  font: italic 16px Georgia, Times, serif;
  margin-bottom: 20px;
  color: #DDD;
}
.large p.tagline {
  font-size: 13px;
}
#main {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(153, 204, 50, 0.8);
  height: 220px;
  left: 50%;
  margin-left: -365px;
  margin-top: -150px;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 50%;
  width: 650px;
}
#main.large {
  left: 2%;
  top: 2%;
  width: 94%;
  height: 94%;
  margin: 0 0 0 0;
  padding: 1%;
}
#keyword {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 2px solid rgba(153, 204, 50, 0.30000000000000004);
  box-shadow: inset 0 5px 2px black;
  color: white;
  font: 100 200% "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  padding: 10px 50px;
  text-align: center;
  width: 70%;
}
.large #keyword {
  font: 100 120% "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 400px;
}
#keyword:focus {
  outline: none;
  border: 2px solid rgba(153, 204, 50, 0.6);
}
#hashtags {
  overflow: hidden;
  width: 90%;
  margin: 10px 5%;
  display: none;
}
#hashtags li {
  float: left;
  width: 23%;
  margin: 0 1%;
}
#hashtags a {
  font-style: italic;
  display: block;
  padding: 4px 2%;
  border-radius: 50px;
  font-size: 12px;
  border: 2px solid rgba(153, 204, 50, 0.30000000000000004);
  background: rgba(0, 0, 0, 0.5);
}
#loading {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
}
#results {
  margin-top: 20px;
  height: 82%;
  position: relative;
  z-index: 1;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5) inset, 0 -40px 10px rgba(0, 0, 0, 0.5) inset;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#results #video-list {
  margin: 0 1%;
  width: 98%;
  overflow: scroll;
}
#results .video {
  display: inline-block;
  margin: 10px 1%;
  min-height: 200px;
  width: 230px;
}
#results .video .video-wrapper {
  position: relative;
}
#results .video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: transparent url(/images/play.png) no-repeat center center;
  background-size: 40px;
}
#results .video.nowPlaying .overlay {
  background-image: none;
}
#results .video.nowPlaying img {
  border: 1px solid #99cc32 !important;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8) !important;
}
#results .video .video-cell {
  text-align: center;
}
#results .video .video-cell .video-wrapper {
  display: inline-block;
}
#results .video .video-cell .video-wrapper:hover .remove-button {
  display: block;
}
#results .video .video-cell .tip {
  background: #99cc32;
  color: white;
  display: block;
  border: 2px solid #99cc32;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 1px;
  min-width: 16px;
  border-radius: 10px;
  text-shadow: 0 2px 1px black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background: #99cc32;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5c7a1e), color-stop(1, #99cc32));
  background: -ms-linear-gradient(bottom, #5c7a1e, #99cc32);
  background: -moz-linear-gradient(center bottom, #5c7a1e 0%, #99cc32 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc32', endColorstr='#5c7a1e', GradientType=0);
}
#results .video .video-cell .video-meta {
  font: bold 11px/1.8 Arial;
  color: #FFF;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}
#results .video .video-cell .video-meta h5 {
  font-weight: bold;
  font-size: 13px;
  margin: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results .video .video-cell .video-meta ul {
  list-style: none;
  overflow: hidden;
}
#results .video .video-cell .video-meta ul li {
  text-align: center;
  padding: 5px;
}
#results .video .video-cell .video-meta .date {
  font-size: 10px;
}
#results .video .video-cell img {
  min-width: 150px;
  min-height: 100px;
  max-height: 120px;
  border: 1px solid gray;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
}
.myScrollbarV {
  position: absolute;
  z-index: 100;
  width: 4px;
  bottom: 7px;
  top: 2px;
  right: 1px;
}
.myScrollbarV > div {
  position: absolute;
  z-index: 100;
  width: 100%;
  /* The following is probably what you want to customize */

  background: #99cc32;
  -webkit-background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 4px;
}
