* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  background-size: cover;
  background: #000000 url(/images/background.jpg);
  color: white;
  font: 100%/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #99cc32;
}
a:hover {
  color: #c2e183;
}
h1 {
  font: italic 100 80px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 span {
  color: #99cc32;
}
p.tagline {
  font: italic 16px Georgia, Times, serif;
  margin-bottom: 20px;
  color: #DDD;
}
#main {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(153, 204, 50, 0.8);
  height: 220px;
  left: 50%;
  margin-left: -365px;
  margin-top: -150px;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 50%;
  width: 650px;
}
#main.large {
  left: 5%;
  width: 85%;
  margin: 0;
  padding: 2.5%;
  top: 5%;
  height: 82%;
}
#keyword {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 2px solid rgba(153, 204, 50, 0.30000000000000004);
  box-shadow: inset 0 5px 2px black;
  color: white;
  font: 100 200% "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  padding: 10px 50px;
  text-align: center;
  width: 70%;
}
#keyword:focus {
  outline: none;
  border: 2px solid rgba(153, 204, 50, 0.6);
}
#hashtags {
  overflow: hidden;
  width: 90%;
  margin: 10px 5%;
  display: none;
}
#hashtags li {
  float: left;
  width: 23%;
  margin: 0 1%;
}
#hashtags a {
  font-style: italic;
  display: block;
  padding: 4px 2%;
  border-radius: 50px;
  font-size: 12px;
  border: 2px solid rgba(153, 204, 50, 0.30000000000000004);
  background: rgba(0, 0, 0, 0.5);
}
#results {
  margin-top: 20px;
}
#loading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
}
